{% if title %}
  <div{{ attributes.addClass('editorial--content', 'txt-content') }}>
    <div class="editorial-button inner-content">
      <a{{ content_attributes.addClass('btn-beauty') }}>{{ title }}</a>
    </div>
  </div>
{% endif %}
