<div
  class="position-container section-highlighted section-highlighted--primary vert-offset-top-2 vert-offset-bottom-2 vert-offset-sm-bottom-3">
  {# Child sponsorship suggestion #}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center txt-content">
        <h2 class="font-size-l font-book"><strong>PATENSCHAFTS<span
              class="visible-xs-inline">-<br/> </span>VORSCHLAG</strong>
          PER E-MAIL
          ODER POST</h2>
      </div>
      <div class="col-xs-12 col-md-8 text-center-xs-sm txt-content vert-offset-top-1">
        <p class="font-size-xs">Wenn Sie einen Vorschlag für ein Patenkind von uns erhalten möchten, schicken wir Ihnen
          gerne eine unverbindliche Empfehlung per E-Mail oder Post zu.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center vert-offset-top-1">
        <a href="/formulare/patenschafts-vorschlag-email" class="btn btn-beauty btn-transparent btn-fullsize-xs">Vorschlag anfordern</a>
      </div>
    </div>
  </div>
</div>
