<div class="position-container">
  {# FAQs #}
  <div
    class="child-sponsorship-info-faq section-highlighted section-highlighted--primary vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3 position-container">
    <div class="anchor" id="wichtig-zu-wissen" name="wichtig-zu-wissen"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="offcanvas"  href="{{ url('<current>') }}/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-calculator icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Steuerlich absetzbar</strong></p>
          <p class="font-size-xs">World Vision ist als gemeinnützig
            anerkannt - Ihre Patenschaftsbeiträge sind also steuerlich absetzbar.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="offcanvas"  href="{{ url('<current>') }}/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-no-contract-bond icon-size-l"></i></a>
          </div>
          <p class="font-size-xs"><strong>Keine vertragliche Bindung</strong></p>
          <p class="font-size-xs">Sie zahlen nur so lange Sie wollen.
            Kündigen können Sie jederzeit ohne Angabe von Gründen.</p>
        </div>

        <div class="col-xs-12 col-sm-4 vert-offset-top-1 vert-offset-bottom-1 text-center txt-content">
          <div class="vert-offset-top-1 vert-offset-bottom-1">
            <a target="offcanvas"  href="{{ url('<current>') }}/haeufig-gestellte-fragen" class="btn-icon btn-icon-round btn-icon-round-xl"><i
                class="icon-eye icon-size-xl"></i></a>
          </div>
          <p class="font-size-xs"><strong>Ihre Spende kommt an</strong></p>
          <p class="font-size-xs">World Vision wird regelmäßig geprüft, empfohlen und trägt das DZI Spendensiegel.</p>
        </div>

        <div class="col-xs-12 vert-offset-bottom-1 vert-offset-top-1 text-center"><a
            class="btn btn-beauty btn-transparent btn-fullsize-xs" target="offcanvas" href="{{ url('<current>') }}/haeufig-gestellte-fragen">Häufig
            gestellte
            Fragen</a></div>
      </div>
    </div>
  </div>
</div>
