<div class="child-sponsorship-header position-container section-highlighted section-highlighted--primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7 col-sm-9 col-md-9 txt-content">
        <h1 class="col-padding-left-sm font-size-s font-book">{{ 'THE MOST BEAUTIFUL GIFT FOR CHILDREN IS: <strong>FUTURE</strong>'|t }}</h1>
      </div>
      <div class="col-xs-5 col-sm-3 col-md-3 col-no-padding-left">
        <img class="img-responsive position-absolute-sm transparency-price"
             src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/studie-spiegel-online-platz-1-transparenz-2014.png"
             alt="Studie Spiegel-Online Platz 1 Transparenz 2014">
      </div>
    </div>
  </div>
</div>
