<div class="position-container section-highlighted section-highlighted--secondary">
  {# Help #}
  <div
    class="vert-offset-bottom-2 vert-offset-top-2 vert-offset-sm-top-3 vert-offset-sm-bottom-3 vert-offset-md-bottom-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center txt-content">
          <h2 class="font-size-m font-book">NUR BEI WORLD VISION –
            <br class="visible-xs"/><strong>DAS ONLINE PATEN-PORTAL</strong></h2>
        </div>
        {# Txt content #}
        <div class="col-xs-12 col-md-6 col-md-push-6">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
              {# Preview img #}
              <picture>
                <source media="(max-width: 767px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/my-worldvision-preview-xs.png">
                <source media="(min-width: 768px)"
                        srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/my-worldvision-preview-sm.png">
                <!---Fallback--->
                <img class="img-responsive img-fullsize"
                     src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/my-worldvision-preview-sm.png"
                     srcset="{{ base_path ~ module_path }}/assets/child-sponsorship-info/img/my-worldvision-preview-sm.png"
                     alt="">
              </picture>
            </div>
          </div>
        </div>


        {# Icons #}
        <div class="col-xs-12 col-md-6 col-md-pull-6 vert-offset-md-top-2 vert-offset-lg-top-4">
          <div class="row">

            {# 01 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-hand-shake icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1">Aktuelle Informationen zum
                    Patenkind</p>
                </div>
              </div>
            </div>
            {# 02 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-video icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">Bilder und Videos</p>
                </div>
              </div>
            </div>
            <div class="clearfix hidden-sm"></div>
            {# 03 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-exchange icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">Austausch mit anderen
                    Paten</p>
                </div>
              </div>
            </div>
            {# 04 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-sphere icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">
                    Länderinformationen</p>
                </div>
              </div>
            </div>
            <div class="clearfix hidden-sm"></div>
            {# 05#}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-news icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">Neuigkeiten aus dem
                    Projekt</p>
                </div>
              </div>
            </div>
            {# 06 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-mail icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">Das Leben eines
                    Patenkindes begleiten</p>
                </div>
              </div>
            </div>
            <div class="clearfix hidden-sm"></div>
            {# 07 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-mail icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">E-Mail an das
                    Patenkind</p>
                </div>
              </div>
            </div>

            {# 08 #}
            <div class="col-xs-6 vert-offset-xs-top-1 vert-offset-sm-top-1 vert-offset-sm-bottom-1">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                  <div class="text-center"><i class="txt-content icon-suitcase icon-size-l"></i></div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                  <p class="text-center-xs vert-offset-xs-top-1 vert-offset-sm-top-1">Paten-
                    Reiseberichte</p>
                </div>
              </div>
            </div>

            {# CTA #}
            <div class="col-xs-12 text-center vert-offset-top-2">
              <a href="https://www.mein-worldvision.de/demo/" target="_blank"
                 class="btn btn-beauty btn-transparent btn-fullsize-xs">Ein
                Blick ins Patenportal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
