<div class="row row-flex">
    <div class="col-xs-12 col-sm-4">
        <a class="logo-link" href="/node/{{ content['field_public_donor_logo']['#object'].nid.value }}">{{ content.field_public_donor_logo }}</a>
    </div>
    <div class="col-xs-12 col-sm-8 public-donor-description">
        {{ content.field_public_donor_description }}
    </div>
</div>
