{#
/**
 * @file child.html.twig
 * Default theme implementation to present Child data.
 *
 * This template is used when viewing Child pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_child()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('child') }}>

  {% if content %}

    <div class="row">
      <div class="col-xs-6"><h2>Original</h2></div>
      <div class="col-xs-6"><h2>Face detection</h2></div>
    </div>

    <div class="row">
      <div class="col-xs-6">{{- content.original -}}</div>
      <div class="col-xs-6">{{- content.facedetection -}}</div>
    </div>

  {% endif %}
</div>
