/* line 1, ../../scss/transition-page/node--transition-page.scss */
.field--name-field-impact-bar-image img {
  padding: 0 20px;
  margin-bottom: 20px;
}

/* line 6, ../../scss/transition-page/node--transition-page.scss */
.field--name-field-impact-bar-description {
  text-align: center;
}
