// =============================
// First Campaign 2017  SM
// =============================

@media screen and (min-width: $bp-sm) {

  .billy-and-urs-wrapper {
    // =============================
    // Header
    // =============================
    .header--img{
      position: absolute;
      background-image: url("/modules/obelix/de/c171/assets/images/stage_tablet.jpg");
      min-height: 580px;
    }
    .header--content{
      .header--inner-content{
        margin-top: 380px;
        background-color: #ffffff;
        position: relative;
        margin-left: 15px;
        padding-left: 63px;
        margin-right: 15px;
        padding-right: 63px;
        padding-top: 45px;
      }
    }
    // =============================
    // Content
    // =============================
    .container--content{
      padding-left: 90px;
      padding-right: 90px;

      &.header--content{
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
