{#
/**
 * This template is used when viewing the wovi form section.
 *
 * Available variables:
 * - form: A list of all form elements.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('container') }}>
  <div class="row">
    {% if elements.headline %}
      <div class="col-xs-12">
        <h2 class="form-hl text-center font-size-m">{{ elements.headline }}</h2>
      </div>
    {% endif %}
    {% if elements.subline %}
      <div class="col-xs-12">
        <p class="form-sl text-center font-size-s">{{ elements.subline }}</p>
      </div>
    {% endif %}
    {# Wrap smaller on large BP #}
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">{{ elements|without('headline','subline') }}</div>
      </div>
    </div>
  </div>
</div>
