@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
/* line 1, ../../scss/sites/_my-child-billy-xs.scss */
#editorial-copy-7400 {
  color: #ff7700;
}

/* line 6, ../../scss/sites/_my-child-billy-xs.scss */
#editorial-hero-slider-7404 h2 {
  color: #FFFFFF;
}

/* line 12, ../../scss/sites/_my-child-billy-xs.scss */
.child-sponsorship-info-child-sponsorship a.btn-icon.smooth-scroll {
  display: none;
}
