<div{{ attributes.addClass('country-page-section--success-bar', 'editorial-section', 'section-highlighted', 'section-highlighted--secondary', 'vert-offset-top-3', 'vert-offset-bottom-3') }}>
  <div class="container">
    <div class="col-xs-12">
      <h3 class="text-center font-size-xl">Die Kraft Ihrer Hilfe</h3>
    </div>
    <div {{ content_attributes.addClass('row', 'no-gutters', 'text-center') }}>
      {{ content }}
    </div>
  </div>
</div>
