<div{{ attributes.addClass('country-page-section--success-bar', 'editorial-section', 'section-highlighted', 'section-highlighted--secondary', 'vert-offset-top-3', 'vert-offset-bottom-3') }}>
  <div class="container">
    <div {{ content_attributes.addClass('row', 'no-gutters', 'text-center') }}>
      {{ content }}
    </div>
  </div>
</div>
