<div{{ attributes.addClass('country-page-section--default', 'editorial-section', 'vert-offset-bottom-3') }}>
  <div class="container">
    <div class="row text-center">
      <div{{ content_attributes.addClass('col-xs-12') }}>
        {{ content }}
      </div>
    </div>
  </div>
</div>
