{#
/**
 * @file autoreply-donation.html.twig
 *
 * @ingroup themeable
 */
#}
<html>
<head>
  <title>World Vision</title>
</head>
<body>
<p>
  {{ message.params.forms_message.reply|raw }}
</p>
</body>
</html>
