@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
/* line 1, ../scss/_automatic-teaser-xs.scss */
.container-fluid.has--editorial-content--story-teaser {
  margin-top: -15px;
}
/* line 3, ../scss/_automatic-teaser-xs.scss */
.container-fluid.has--editorial-content--story-teaser .editorial-story-teaser > .container-font > .row > .col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  /* line 4, ../scss/_automatic-teaser-sm.scss */
  .container-fluid.has--editorial-content--story-teaser .editorial-story-teaser > .container-font > .row > .col-xs-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
