// =============================
// Help / Impact
// =============================

.child-sponsorship-info-help-impact {

  ul.sponsorship-statistics {
    li {
      padding-left: 0;
      padding-right: 0;
      width: 49%;
    }
  }
  .percent-bar {
    width: 91px;
    margin: 0 auto;
    &.percent-bar-25 {
      height: 39px;
      background: $color-standard-bg;
    }
    &.percent-bar-95 {
      height: 120px;
      background: $color-highlight;
    }
    &.percent-bar-50 {
      height: 55px;
      background: $color-standard-bg;
    }
    &.percent-bar-19 {
      height: 24px;
      background: $color-highlight;
    }
    &.percent-bar-59 {
      height: 56px;
      background: $color-standard-bg;
    }
    &.percent-bar-100 {
      height: 120px;
      background: $color-highlight;
    }
  }

  .editorial-hero-slider{
    .editorial--content{
      padding-top: 0;
      padding-bottom:0;
    }
  }
}
