@media screen and (min-width: $bp-sm) {
  .world-map-bg-sm {
    background-image: url("../img/transparency-world-map-bg-sm.jpg");
    background-color: $color-highlight;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
