<p class="text-uppercase"><strong>{{ 'General donation'|trans }}:</strong></p>
<p>{{ generalDonationAccount|raw }}</p>
<p class="text-uppercase vert-offset-top-1"><strong>{{ 'Creditor identification number'|trans }}:</strong></p>
<p>{{ creditorIdNumber }}</p>
