<div class="child-sponsorship-info-navbar hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ul class="text-uppercase list-unstyled list-inline">
            <li>More information on:</li>
            <li><a class="smooth-scroll" href="#kinderpatenschaft">Child sponsorship</a></li>
            <li><a class="smooth-scroll" href="#hilfe-und-wirkung">Help & impact</a></li>
            <li><a class="smooth-scroll" href="#patenschaft-erleben">Sponsorship experience</a></li>
            <li><a class="smooth-scroll" href="#transparenz">Transparency</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
