<div {{ attributes.addClass('child-sponsorship-section-child-finder', 'form-minimal-border') }}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 vert-offset-sm-bottom-1"><h2 class="text-center font-size-l font-book">Sie möchten ein
          anderes <strong>KIND UNTERSTÜTZEN?</strong></h2></div>
      <div class="col-xs-12 col-sm-6 border-right-sm vert-offset-bottom-1 label-highlighted">
        <div class="row">
          {{ content.form_child_finder_country }}
        </div>
      </div>
      <div class="separator-bottom pull-left clearfix vert-offset-top-1 visible-xs"></div>
      <div class="col-xs-12 col-sm-6 vert-offset-xs-top-1 vert-offset-bottom-1">
        <div class="row">
          {{ content.form_child_finder_birthday }}
        </div>
      </div>
    </div>
  </div>
</div>

