// =============================
// Child sponsorship header
// =============================
.child-sponsorship-header{
  .transparency-price{
    position: absolute;
    right: 15px;
    width: 118px;
  }
}

// My child billy version
// =============================
.child-sponsorship-my-child-billy-header{
  .txt-content{
    position: absolute;

  }
}
