<div{{ attributes.addClass('editorial-section') }}>
  <div class="container-fluid">
    <div class="row no-gutters text-center">
      <div{{ content_attributes.addClass('col-xs-12', 'img-content') }}>
        {{ content }}
      </div>
    </div>
  </div>
</div>
