<div{{ attributes }}>
  {% if headline %}<h2 class="form-hl text-center font-size-m">{{ headline }}</h2>{% endif %}
  {% if subheadline %}<h3 class="form-hl text-center font-size-s">{{ subheadline }}</h3>{% endif %}
  {% if description %}<p class="font-size-xs text-center">{{ description }}</p>{% endif %}
</div>
