@media screen and (min-width: $bp-md) {
  // =============================
  // Child sponsorship child select
  // =============================
  .editorial-child-sponsorship-child-select {
    // TODO Set base URL
    background-image: url("../img/child-select-bg-md.jpg");
    padding-top: 30px;
    padding-bottom: 30px;
    .child-infos{
      padding-top: 0;
    }
    h2{
      line-height: 39px;
    }
    ul {
      li {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .txt-highlighted {
      font-size: 48px;
    }
  }
  //  Exception container fixed (not recommended)
  .has--editorial-content--social-share.container{
    .child-img{
      padding-left: 15px;
    }
  }
}

