<div
  class="position-container section-highlighted section-highlighted--primary vert-offset-top-2 vert-offset-bottom-2 vert-offset-sm-bottom-3">
  {# Child sponsorship suggestion #}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center txt-content">
        <h2 class="font-size-l font-book"><strong>SPONSORSHIP SUGGESTION</strong> BY MAIL OR E-MAIL</h2>
      </div>
      <div class="col-xs-12 col-md-8 text-center-xs-sm txt-content vert-offset-top-1">
        <p class="font-size-xs">If you would like us to find a child to be sponsored for you, we are happy to send you a non-obligatory suggestion by mail or email.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center vert-offset-top-1">
        <a href="/formulare/patenschafts-vorschlag-email" class="btn btn-beauty btn-transparent btn-fullsize-xs">Request a suggestion</a>
      </div>
    </div>
  </div>
</div>
