<div>
  <div class="editorial-social-share inner-content">
    <p class="text-uppercase vert-align-center-abs-sm hidden-xs">Page title</p>
    <ul>
      <li class="text-center-xs social-share-text text-uppercase">{{ content.share_text }}:</li>
      <li><a class="share-btn fb" href="javascript:void(0);">FACEBOOK</a></li>
      <li><a class="share-btn twitter" href="javascript:void(0);">TWITTER</a></li>
      <li><a href="mailto:?body=World Vision">MAIL</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>


