#editorial-copy-7400{
  color: $color-highlight;
}

#editorial-hero-slider-7404{
  h2{
    color: $color-standard-bg;
  }
}

.child-sponsorship-info-child-sponsorship{
  a.btn-icon.smooth-scroll{
    display: none;
  }
}
