<div
  class="child-sponsorship-my-child-billy-header position-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-sm-6 txt-content">
        <h1 class="col-padding-left-sm font-size-xl font-book">Billy & Urs - <strong>Erleben <br class="visible-sm" />Sie die <br class="visible-md visible-lg" />Kraft der
            Patenschaft</strong></h1>
      </div>
      <div class="col-xs-12 col-no-padding-left hidden-xs">
        <img class="img-responsive position-absolute-sm transparency-price"
             src="{{ base_path ~ module_path }}/assets/child-sponsorship/img/my-child-billy/studie-spiegel-online-transparenzpreis-sieger.png"
             alt="Studie Spiegel-Online Platz 1 Transparenz 2014">
      </div>
      <picture>
        <source media="(max-width: 767px)"
                srcset="{{ base_path ~ module_path }}/assets/child-sponsorship/img/my-child-billy/bg-billy-und-urs-xs.jpg">
        <!---Fallback--->
        <img class="img-responsive img-fullsize visible-xs"
             src=""
             srcset=""
             alt="Mein Patenkind Billy">
      </picture>
    </div>
  </div>
</div>
