{#
/**
 * @file affiliate_item.html.twig
 * Default theme implementation to present Affiliate data.
 *
 * This template is used when viewing Affiliate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_affiliate_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('affiliate_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
