<form method="POST" action="{{ newsletter_form_url }}">
  <p class="h6">{{ 'Newsletter'|trans }}</p>
  <p class="text-center">{{ 'Subscribe to the World Vision newsletter'|trans }}</p>
  <div class="col-xs-9 col-no-padding">
    <div class="form-group">
      <input id="email" name="email" placeholder="{{ 'E-mail address'|trans }}" class="form-control" type="text">
    </div>
  </div>
  <div class="col-xs-3">
    <button class="btn-icon-round"><i class="icon-arrow-right"></i></button>
  </div>
</form>