<div{{ attributes.addClass('editorial--content', 'txt-content') }}>
  <div class="editorial-transparency-bar inner-content">
    <div class="col-xs-12">
      <h2 class="font-size-l text-center">So einfach geht's</h2>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted btn-icon-round-no-hover"><i class="icon-gift-box"></i></button>
        <p class="font-size-xs vert-offset-top-2">1. Gutes Geschenk auswählen</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted btn-icon-round-no-hover"><i class="icon-certificate-greeting-card"></i></button>
        <p class="font-size-xs vert-offset-top-2">2. Urkunde oder Grußkarte auswählen...</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted btn-icon-round-no-hover"><i class="icon-ship-with-heart"></i></button>
        <p class="font-size-xs vert-offset-top-2">3. ...an einen Freund oder Familie schicken...</p>
      </a>
    </div>
    <div class="col-xs-12 col-sm-3 text-center vert-offset-top-2 vert-offset-bottom-2">
      <a href="javascript:void(0);">
        <button class="btn-icon-round btn-icon-round-xl inverted btn-icon-round-no-hover"><i class="icon-present-in-the-field"></i></button>
        <p class="font-size-xs vert-offset-top-2">4. ...und damit gleichzeitig Bedürftigen vor Ort helfen.</p>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
