<div class="container-fluid item-1" style="margin-top: -20px;">
    <div class="row no-gutters">
        {{ header }}
    </div>
</div>

<div class="position-container vert-offset-top-1 vert-offset-sm-top-2 vert-offset-md-top-3  vert-offset-bottom-1 vert-offset-sm-bottom-2 vert-offset-md-bottom-3">
    <div class="container">
        <div class="has--editorial-content--relation-teaser container item-4">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="font-size-xs">
                        {{ introduction|raw }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="font-size-xs">
                        {{ form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
