<div class="position-container vert-offset-top-1 vert-offset-sm-top-2 vert-offset-md-top-3  vert-offset-bottom-1 vert-offset-sm-bottom-2 vert-offset-md-bottom-3">
    <div class="container">
        <div class="has--editorial-content--relation-teaser container item-4">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="font-size-xs">
                        {{ left }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    {{ right }}
                </div>
            </div>
        </div>
    </div>
</div>
