<div class="container-fluid item-1" style="margin-top: -20px;">
    <div class="row no-gutters">
        {{ header }}
    </div>
</div>

<div class="has--editorial-content--headline has--editorial-content--copy container container-padding-bottom-none item-2">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="font-size-xs">
                {{ message|raw }}
            </div>
        </div>
    </div>
</div>