<div class="child-sponsorship-info-navbar hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ul class="text-uppercase list-unstyled list-inline">
            <li>Informieren Sie sich zu:</li>
            <li><a class="smooth-scroll" href="#kinderpatenschaft">Kinderpatenschaft</a></li>
            <li><a class="smooth-scroll" href="#hilfe-und-wirkung">Hilfe & Wirkung</a></li>
            <li><a class="smooth-scroll" href="#patenschaft-erleben">Patenschaft erleben</a></li>
            <li><a class="smooth-scroll" href="#transparenz">Transparenz</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
