// =============================
// Font size classes
// =============================

// Breakpoint MD
// =============================
@media screen and (min-width: $bp-sm) {

  // Other
  .font-size-xxs {
    font-size: $font-size-smallest;
  }
  .font-size-xs {
    font-size: $font-size-small;
  }

  .font-size-s {
    font-size: $font-size-small;
  }

  .font-size-m {
    font-size: $font-size-x-large;
  }

  .font-size-l {
    font-size: $font-size-xx-large;
  }

  .font-size-xl {
    font-size: $font-size-xxxx-large;
  }

  //  6er COL
  // ========
  // 12er
  .container,
  .container-fluid,
  .container-font{
    > .row {
      > .col-sm-6 {
        .font-size-m {
          font-size: $font-size-small;
        }

        .font-size-l {
          font-size: $font-size-large;
        }

        .font-size-xl {
          font-size: $font-size-x-large;
        }
      }
    }
  }

  //  4er COL
  // ========
  .container,
  .container-fluid,
  .container-font{
    > .row {
      > .col-sm-4 {
        .font-size-xs {
          font-size: $font-size-smallest;
        }

        .font-size-s {
          font-size: $font-size-small;
        }

        .font-size-m {
          font-size: $font-size-small;
        }

        .font-size-l {
          font-size: $font-size-medium;
        }

        .font-size-xl {
          font-size: $font-size-medium;
        }
      }
    }
  }

  //  3er COL
  // ========
  .container,
  .container-fluid,
  .container-font{
    > .row {
      > .col-sm-3{
        .font-size-xs {
          font-size: $font-size-smallest;
        }

        .font-size-s {
          font-size: $font-size-small;
        }

        .font-size-m {
          font-size: $font-size-small;
        }

        .font-size-l {
          font-size: $font-size-medium;
        }

        .font-size-xl {
          font-size: $font-size-medium;
        }
      }
    }
  }
}
